### Jul AdventKalender D3

https://adventofcode.com/2022/day/3

In [1]:
import pandas as pd
import numpy as np

#### Day 3.1  

Each row represent all items in one rucksack. The first half of the characters represent items in the first compartment, while the second half of the characters represent items in the second compartment.

Every item type can be converted to a priority:
* Lowercase item types a through z have priorities 1 through 26.
* Uppercase item types A through Z have priorities 27 through 52.

There is one item in each row that appears in both compartments. Find the item type and calculate the sum of the priorities of those item types.

In [66]:
data_rucksack = pd.read_table('input3.txt', sep=" ", header=None)
data_rucksack

                                                    0
0                          NJvhJcQWTJWTNTFFMTqqGqfTmB
1                            VwVzPldRZVLVRmfsvfjvqfmm
2                                    ZDPDHZHVcvDhbvnv
3    FHHwHBzzVCWWmmCzCPrVmgBwbLTtRFFbbbttRGRLjTcLpbbT
4                        vhZZvdsNSdSMdNvjncppCLcLnGnj
..                                                ...
295                        zCrlZzCblBvnCDWNGLmvGDLPNG
296              dqZglgbzrzbbgZqzTFSBHHFJSSSfjjSMfwhj
297      NMWJSjLMCnHHNMNNHWCHMbVVGBPZTrPVPBVDrBSDGTTr
298                zvttlFpgdtldwwvftPDPTWQdBZrsrWrGBZ
299                              hFlFmhRFvfCbmWJWHcnj

[300 rows x 1 columns]

In [73]:
def _splitCompartment(items):
    num = len(items)
    if num%2 == 0:
        return items[:(num//2)],items[(num//2):]
    print('Number of items in two compartments are not the same!')
    return 0,0
def findDuplicate(row):
    com1,com2 = _splitCompartment(row[0])
    for item in com1:
        if item in com2:
            return item
    print('No repeated item!')
    return None
def transPriority(item):
    if pd.isnull(item):
        return 0
    if item.islower():
        return ord(item)-96
    if item.isupper():
        return ord(item)-64+26
    return 0

In [74]:
total_score = 0
for _,row in data_rucksack.iterrows():
    total_score += transPriority(findDuplicate(row))
total_score

7742

#### Day 3.2

Every three rows (rucksacks) are one group:
* One badge (one item type) that identifies their group appears in all three rows

Find the badge for all groups and calculate the total priorities for the badges

In [69]:
def findGroupBadge(group):
    if len(group) == 3:
        return list(set(group[0]).intersection(group[1],group[2]))[0]
    return None

In [72]:
nrow = data_rucksack.shape[0]
data_groups = np.split(data_rucksack.to_numpy().flatten(), np.where(np.array(range(nrow))%3==0)[0])
sum([transPriority(findGroupBadge(group)) for group in data_groups])

2276