### Jul AdventKalender D2

https://adventofcode.com/2022/day/2

In [1]:
import pandas as pd
import numpy as np

#### Day 2.1  

Calculate scores for a game:
* A for Rock, B for Paper, and C for Scissors
* X for Rock, Y for Paper, and Z for Scissors

The rule is: Rock defeats Scissors, Scissors defeats Paper, and Paper defeats Rock. If the same shape, the round instead ends in a draw.

The score should be calculated as:
* 1 for Rock, 2 for Paper, and 3 for Scissors
* 0 if you lost, 3 if the round was a draw, and 6 if you won

In [2]:
data_strategy = pd.read_table('data/input2.txt', sep=" ", header=None)
data_strategy

      0  1
0     B  Z
1     B  Z
2     C  Z
3     C  Z
4     B  X
...  .. ..
2495  C  Z
2496  C  Z
2497  B  Z
2498  C  Z
2499  A  Y

[2500 rows x 2 columns]

In [3]:
def transSymbol(shape): # unify symbol to A B C
    if shape == 'X':
        return 'A'
    if shape == 'Y':
        return 'B'
    if shape == 'Z':
        return 'C'
    print('Wrong choice!')
    return 'W'
def outcomeScore(opponent, me):
    if me == opponent:
        return 3
    if (me == 'A'and opponent == 'C') or (me == 'C'and opponent == 'B') or (me == 'B'and opponent == 'A'):
        return 6
    return 0
def choiceScore(shape):
    if shape == 'A':
        return 1
    if shape == 'B':
        return 2
    if shape == 'C':
        return 3
    print('Wrong choice!')
    return 0

In [4]:
total_score = 0
for _,row in data_strategy.iterrows():
    total_score += outcomeScore(row[0],transSymbol(row[1])) + choiceScore(transSymbol(row[1]))
total_score

15523

#### Day 2.2

The second column means:
* X means you need to lose
* Y means you need to end the round in a draw
* and Z means you need to win

Decode the second column with the correct choices and calculate the total score again

In [5]:
def meChoice(opponent, outcome):
    if outcome == 'Y':
        return opponent
    if opponent == 'A':
        return 'B' if outcome == 'Z' else 'C'
    if opponent == 'B':
        return 'C' if outcome == 'Z' else 'A'
    if opponent == 'C':
        return 'A' if outcome == 'Z' else 'B'
    print('Wrong strategy or opponent choice!')
    return 'W'

In [6]:
data_strategy[2] = [meChoice(row[0], row[1]) for _,row in data_strategy.iterrows()]
data_strategy

      0  1  2
0     B  Z  C
1     B  Z  C
2     C  Z  A
3     C  Z  A
4     B  X  A
...  .. .. ..
2495  C  Z  A
2496  C  Z  A
2497  B  Z  C
2498  C  Z  A
2499  A  Y  A

[2500 rows x 3 columns]

In [7]:
total_score = 0
for _,row in data_strategy.iterrows():
    total_score += outcomeScore(row[0],row[2]) + choiceScore(row[2])
total_score

15702