### Jul AdventKalender D4

https://adventofcode.com/2022/day/4

In [1]:
import pandas as pd

#### Day 4.1  

Each row represent assignments for a group of two.

In how many assignment pairs does one range fully contain the other?

In [2]:
data_ass = pd.read_table('data/input4.txt', sep=",", header=None)
data_ass.head()

       0      1
0  14-28  13-28
1  72-81  82-91
2    4-4   6-95
3  47-49  48-59
4  26-36  37-76

In [3]:
def isFullContain(ass1, ass2):
    return (ass1.start in ass2 and ass1[-1] in ass2) or (ass2.start in ass1 and ass2[-1] in ass1)
def outSecNums(ass):
    secStrs = str.split(ass,'-')
    return int(secStrs[0]),int(secStrs[1])

In [4]:
total_fulloverlap = 0
for _,row in data_ass.iterrows():
    ass1_s, ass1_e = outSecNums(row[0])
    ass2_s, ass2_e = outSecNums(row[1])
    if isFullContain(range(ass1_s, ass1_e+1),range(ass2_s, ass2_e+1)):
        total_fulloverlap += 1
total_fulloverlap

305

#### Day 4.2

In how many assignment pairs does the two ranges overlap at all?

In [5]:
def isContain(ass1, ass2):
    for ass in ass1:
        if ass in ass2:
            return True
    return False

In [6]:
total_overlap = 0
for _,row in data_ass.iterrows():
    ass1_s, ass1_e = outSecNums(row[0])
    ass2_s, ass2_e = outSecNums(row[1])
    if isContain(range(ass1_s, ass1_e+1),range(ass2_s, ass2_e+1)):
        total_overlap += 1
total_overlap

811